@import "tailwindcss";

*{
  font-family: "Montserrat", sans-serif;
}

@keyframes fadeInX{
  from{
    opacity: 0;
    transform: translateX(-100px);
  }
  to{
    opacity: 1;
    transform: translateX(0);
  }
}

#motiondiv1{
  animation-name: fadeInX;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;

}

@keyframes fadeInY {
  from{
    opacity: 0;
    transform: translateX(100px);
  }
  to{
    opacity: 1;
    transform: translateX(0);
  }
}

#motiondiv2{
  animation-name: fadeInY;
  animation-duration: 1.75s;
  animation-timing-function: ease-out;

}

@keyframes fadeHeading{
  from{
    opacity: 0;
  }to{
    opacity: 1;
  }
}

#cHeading, #header{
  animation-name: fadeHeading;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}